
.tabla{
    display: table;
    border: 1px solid #000000;
}
.linea{
    display:table-row;
    border: 1px solid #000000;
}
.celda{
    display:table-cell;
    border: 1px solid #000000;
}

.nombre{
    display:table-row;
    text-align: center;
    font-weight: bold;
    font-size: medium;
}